@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}
@theme {
  --color-primary: #22D3EE;
  --animate-pulse-color: pulse-color 3s ease-in-out infinite;
  --animate-pulse-text: pulse-text 4s ease-in-out infinite;
  --animate-rgb-text: rgb-text 6s linear infinite;

  @keyframes pulse-color {
    0%, 100% {
      background-color: #22D3EE;
    }
    50% {
      background-color: #0891B2;
    }
  }

  @keyframes pulse-text {
    0%, 100% {
      color: #000000;
    }
    50% {
      color: #0891B2;
    }
  }

  @keyframes rgb-text {
    0%, 100% { color: #FFFFFF; } /* Fallback/Start at White */
    16% { color: #FF8A8A; }      /* Coral Red */
    33% { color: #FFD384; }      /* Pastel Orange/Yellow */
    50% { color: #A8FFB2; }      /* Light Green */
    66% { color: #A5F3FC; }      /* Cyan */
    83% { color: #C084FC; }      /* Purple */
  }
}
.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}
